<template>
  <div id="app">
    <navigation-menu></navigation-menu>
    <div class="router-wrapper">
      <router-view/>
    </div>
    <footer-menu></footer-menu>
  </div>
</template>

<script>

import NavigationMenu from '@/components/NavigationMenu.vue'
import FooterMenu from '@/components/FooterMenu.vue'

export default {
  name: 'App',
  components: {
    NavigationMenu,
    FooterMenu
  }
}
</script>

<style>

@import "../styles/main.css";

#app {
  position: relative;
  text-align: center;
}

.router-wrapper {
  display: inline-block;
  width: 90%;
  margin: 15px 5%;
  max-width: 1200px;
  min-height: 550px;
  text-align: left;
}
</style>
