html,
body {
  height: 100%;
  margin: 0px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d5d5d5;
  background: #242424;
}

hr {
  border-color: #555555;
}