<template>
    <div class="dashboard">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-user">
                <img src="https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png" class="profile-image" />
                <div class="profile-tile-title">Tom Walls</div>
                  <table class="profile-info-table">
                    <tr>
                      <td>Role</td>
                      <td>Admin</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>tom.walls@autoalert.com</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>114 W 11th Street,<br />Kansas City, MO - 64105</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-vehicle">
                <img src="/static/pngs/icon-vehicle-info.png" class="profile-image" />
                <div class="profile-tile-title">Vehicle</div>
                <table class="profile-info-table">
                    <tr>
                      <td>Vehicle</td>
                      <td>2018 Ford F-150</td>
                    </tr>
                    <tr>
                      <td>EMI</td>
                      <td>$813.09/mo</td>
                    </tr>
                    <tr>
                      <td>Remaining Pmts</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-25</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-service">
              <img src="/static/pngs/icon-service-info.png" class="profile-image" />
              <div class="profile-tile-title">Service</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Preferred Dealer</td>
                      <td>Gary Crossley Ford</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Service Manager</td>
                      <td>jim@garycrossley.com</td>
                    </tr>
                    <tr>
                      <td>Next Service Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Next Service</td>
                      <td>Oil Change</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-insurance">
              <img src="/static/pngs/icon-insurance-info.png" class="profile-image" />
              <div class="profile-tile-title">Insurance</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Provider</td>
                      <td>GEICO</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Accidents</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
        </div>
        <hr />
        <div class="options-row" align="right">
          <a href="#/editvehicle" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i>&nbsp;Add Vehicle</a>
        </div>
        <div class="cars-wrapper">
            <div class="car-row" v-for="(car, $index) of cars" :key="'car_row_'+$index">
              <a href="#/vehicledetail">
                <div class="car-title">
                     <i class="fa fa-car"></i>&nbsp;{{car.YMM}}
                </div>
                <img :src="car.ImageUrl" class="car-image" />
                <div class="car-driver-info">
                    <img :src="car.PrimaryDriverImageUrl" class="car-driver-image"/>
                    {{car.PrimaryDriver}}<br />
                    {{car.PrimaryDriverEmail}}<br />
                    {{car.Relation}}
                </div>
                <div class="car-info-container">
                  <div class="car-info-row">
                    <i class="fa fa-map-marker font-icon"></i>{{car.Dealership}}<br />
                  </div>
                  <div class="car-info-row">
                    <i class="fa fa-dollar font-icon"></i>{{car.MonthlyEMI}}<br />
                  </div>
                  <div class="car-info-row">
                    <i class="fa fa-dollar font-icon"></i>{{car.PaymentRemaining}}<br />
                  </div>
                  <div class="car-info-row">
                    <i class="fa fa-calendar font-icon"></i>{{car.NextServiceDate}}<br />
                  </div>
                </div>
              </a>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from "vue";

export default {
  name: "dashboard",
  data: function() {
    return {
      personId: 'f79e79e5-200d-47ec-925f-d397f5a1b7e6',
      person: null,
      cars: []
    };
  },
  mounted: function() {
    this.getPerson();
    this.getCars();
  },
  methods: {
    getPerson: function() {
      Vue.http.get("Person/GetDashboardData/"+this.personId)
        .then((resp) => {
          if(resp && resp.PersonID)
            this.person = resp;
          else
            console.log("Error: ", resp);
        }).catch((resp) => {
          console.log("Error: ", resp);
        })
    },
    getCars: function() {
      this.cars = [
        {
          YMM: "2016 Ford F-150",
          Dealership: "Gary Crossley Ford",
          MonthlyEMI: 855.2,
          PaymentRemaining: 20102,
          NextServiceDate: "2018/07/25",
          Insurance: "GEICO",
          PrimaryDriver: "Tom Walls",
          PrimaryDriverEmail: "tom.walls@autoalert.com",
          PrimaryDriverImageUrl:
            "https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png",
          ImageUrl:
            "https://st.motortrend.com/uploads/sites/10/2016/10/2017-ford-f-150-xlt-pick-up-angular-front.png"
        },
        {
          YMM: "2018 Ford Fusion",
          Dealership: "Gary Crossley Ford",
          MonthlyEMI: 320.18,
          PaymentRemaining: 18104,
          NextServiceDate: "2018/08/11",
          Insurance: "GEICO",
          PrimaryDriver: "John Walls",
          PrimaryDriverEmail: "john.walls@autoalert.com",
          Relation: "Son",
          PrimaryDriverImageUrl:
            "https://freeiconshop.com/wp-content/uploads/edd/person-flat.png",
          ImageUrl:
            "https://www.cars.com/cstatic-images/car-pictures/xl/USC70FOC202D021001.png"
        },
        {
          YMM: "2018 Chevrolet Camaro",
          Dealership: "Kansas City Chevrolet",
          MonthlyEMI: 520.11,
          PaymentRemaining: 41101.49,
          NextServiceDate: "2018/08/01",
          Insurance: "Statefarm",
          PrimaryDriver: "Harry Walls",
          PrimaryDriverEmail: "harry.walls@autoalert.com",
          Relation: "Son",
          PrimaryDriverImageUrl:
            "https://freeiconshop.com/wp-content/uploads/edd/person-flat.png",
          ImageUrl:
            "https://di-uploads-pod1.dealerinspire.com/chevyofnaperville/uploads/2016/12/2017-chevrolet-camaro.png"
        }
      ];
    }
  }
};
</script>

<style scoped>
.dashboard {
  padding: 15px;
}

.dashboard-profile-tile {
  vertical-align: middle;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.profile-user .profile-image {
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-vehicle {
  color: #1f8bd5;
}

.profile-service {
  color: gold;
}

.profile-insurance {
  color: orangered;
}

.profile-tile-title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  margin-top: 10px;
}

.profile-info-table {
  width: 100%;
  font-size: 13px;
  margin-bottom: 15px;
  color: #d5d5d5;
  text-align: left;
}

.profile-info-table td {
  vertical-align: top;
  padding: 2px 0px;
}

.profile-info-table td:first-child {
  padding-right: 10px;
}

.profile-info-table td:nth-child(2) {
  font-weight: 600;
}

.options-row {
  padding: 0px 15px;
}

.cars-wrapper {
  margin: 15px;
  color: #333333;
}

.car-row {
  background: #fafafa;
  overflow-x: hidden;
  margin-bottom: 15px;
  text-align: center;
}

.car-row a {
  text-decoration: none;
  color: inherit;
}

.car-title {
  background: #d5d5d5;
  color: #555555;
  font-weight: 500;
  padding: 10px 15px;
  text-align: left;
}

.car-image {
  width: 20%;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
}

.car-driver-info {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  margin: 15px 0px;
  border-left: 1px solid #a0a0a0;
  text-align: left;
  line-height: 25px;
}

.car-info-container {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  background: #1f8bd5;
  margin: 15px 0px;
  padding: 15px;
  color: #ffffff;
  text-align: left;
}

.car-info-row .font-icon {
  width: 25px;
}

.car-driver-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  float: right;
}
</style>
