<template>
    <div class="edit-vehicle">
        <div class="header-row">
            <a href="#/" class="close-btn">
              <i class="fa fa-times-circle"></i>
            </a>
            <i class="fa fa-car"></i> 
            Edit Vehicle
        </div>
        <br />
        <div class="form-wrapper">
          <div class="form-group">
            <div class="row">
              <label for="primaryDriver" class="control-label col-md-4">Primary Driver</label>
              <div class="col-md-8">
                <select class="form-control" id="primaryDriver" v-model="primaryDriver">
                  <option v-for="person in family" :key="person.Id" >{{person.FirstName}} {{person.LastName}}</option>  
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="vin" class="control-label col-md-4">VIN</label>
              <div class="col-md-8">
                <input id="vin" class="form-control" type="text" v-model="vin" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="insuranceCompany" class="control-label col-md-4">Insurance Company</label>
              <div class="col-md-8">
                <input id="insuranceCompany" class="form-control" type="text" v-model="insuranceCompany" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="monthlyInsurancePayment" class="control-label col-md-4">Monthly Insurance Payment</label>
              <div class="col-md-8">
                <input id="monthlyInsurancePayment" class="form-control" type="number" v-model="monthlyInsurancePayment" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="monthlyCarPayment" class="control-label col-md-4">Monthly Car Payment</label>
              <div class="col-md-8">
                <input id="monthlyCarPayment" class="form-control" type="number" v-model="monthlyCarPayment" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="loanTermStart" class="control-label col-md-4">Loan Start Date</label>
              <div class="col-md-8">
                <input id="loanTermStart" class="form-control" type="date" v-model="loanStart" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="downPayment" class="control-label col-md-4">Loan Term</label>
              <div class="col-md-8">
                <input id="loanTerm" class="form-control" type="number" v-model="loanTerm" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="downPayment" class="control-label col-md-4">Down Payment</label>
              <div class="col-md-8">
                <input id="downPayment" class="form-control" type="number" v-model="downPayment" />
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
                <div class="col-md-12" align="center">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default ml-2">Cancel</button>
                </div>
          </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "editVehicle",
  data: function() {
    return {
      primaryDriver: '',
      vin: "",
      insuranceCompany: "",
      monthlyInsurancePayment: 0,
      monthlyCarPayment: 0,
      loanStart: null,
      loanTerm: null,
      downPayment: 0,
      family: [{id: 1, FirstName: 'John', LastName: 'Smith'},
        {id: 2, FirstName: 'Adam', LastName: 'Savage'},
        {id: 3, FirstName: 'Sarah', LastName: 'OConnor'}]
    };
  },
  mounted: function() {
    this.getFamily();
  },
  methods: {
    saveVehicle: function() {
      Vue.http.post('http://mygarage.com/api/Vehicle/add', {primaryDriver: this.primaryDriver, vin: this.vin, insuranceCompany: this.insuranceCompany, monthlyInsurancePayment: this.monthlyInsurancePayment, monthlyCarPayment: this.monthlyCarPayment, loandStart: this.loanStart, loanTerm: this.loanTerm, downPayment: this.downPayment}).then(function(response){
        console.log(response);
      }).catch(function(error){
        console.log(error);
      });
    },
    getFamily: function(){
      var vm = this;
      Vue.http.get('http://mygarage.com/api/Person/GetPersonList/8466a24a-e765-4098-9f15-0e4ff24a0196').then(function(response){
        console.log(response);
        vm.family = response.data;
      }).catch(function(error){
        console.log(error);
      });
    }
  }
};
</script>

<style scoped>
.edit-vehicle {
  width: 100%;
  text-align: center;
}

.header-row {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #555555;
}

.close-btn {
  float: right;
  color: inherit;
  cursor: pointer;
  font-size: 30px;
}

.form-wrapper {
  width: 90%;
  max-width: 700px;
  display: inline-block;
  text-align: left;
}
</style>
