<template>
    <div class="edit-member">
        <div class="header-row">
            <a href="#/" class="close-btn"><i class="fa fa-times-circle"></i></a>
            <i class="fa fa-user-plus"></i>
            Add a new member
        </div>
        <br />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" align="center">
                        <img :src="person.ProfilePictureUrl" class="profile-picture" />
                        <div class="file-input-wrapper">
                            <button type="button" class="btn btn-default btn-sm" @click="openImageUploader()"><i class="fa fa-camera"></i>&nbsp;Upload Image</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="First Name" v-model="person.FirstName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Last Name" v-model="person.LastName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" v-model="person.Email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Phone" v-model="person.Phone" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" v-model="person.Role">
                            <option value="normal">Basic</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Address" v-model="person.Address" />
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12" align="center">
                    <button type="button" class="btn btn-primary" @click="savePerson()">Save</button>
                    <button type="button" class="btn btn-default ml-2">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from "vue";
import { CloudinaryClient } from "@/clients/CloudinaryClient"

export default {
  name: "editMember",
  data: function() {
    return {
        person: {
            FirstName: null,
            LastName: null,
            Email: null,
            Phone: null,
            Role: null,
            Address: null,
            ProfilePictureUrl: "https://freeiconshop.com/wp-content/uploads/edd/person-flat.png",
            HouseID: "757f2073-0b35-4e37-8027-4052d2925cdb"
        }
    };
  },
  methods: {
      openImageUploader: function() {
          let fileTypes = ["jpg", "jpeg", "png", "svg", "gif"];
          CloudinaryClient.openImageUploader('members', 'profile', fileTypes, false)
            .then((resp) => {
                if(resp.Result && resp.Result.length > 0)
                    this.person.ProfilePictureUrl = resp.Result[0].secure_url;
                    // console.log("Result: ", resp.Result[0].secure_url);
            }).catch((resp) => {
                console.log("Error: ", resp);
            });
      },
      savePerson: function() {
          Vue.http.post('Person/Add', this.person)
            .then((resp) => {
                console.log("Success: ", resp);
                this.$router.go(-1);
            }).catch((resp) => {
                console.log("Error: ", resp);
            });
      }
  }
};
</script>

<style scoped>
.edit-member {
  width: 100%;
}

.header-row {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #555555;
}

.close-btn {
  float: right;
  cursor: pointer;
  color: inherit;
  font-size: 30px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.file-input-wrapper {
  margin-top: 15px;
}
</style>