<template>
    <div class="footer-menu">
        <div>
            &copy; My Garage, by AutoAlert. All rights reserved.
            <!-- <img src="../assets/lolita-help.png" /> -->
        </div>
        <img class="lollipup" src="../assets/lolita-help.png" />
    </div>
</template>

<script>
export default {
    name: 'footerMenu'
}
</script>

<style scoped>

.footer-menu {
    width: 100%;
    height: 200px;
    background-image: url('/static/bottomfooterbar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 150px;
}
.lollipup{
    position: absolute;
    right: 25px;
    bottom: 0px;
    width: 30%;
}

</style>
