<template>
    <div class="members-list">
        <!-- <button type="button" class="btn btn-primary btn-sm" @click="showCS = !showCS">Open</button>
        <div class="collapsible-section" :class="{'is-visible' : showCS}">
            Hello
        </div> -->
        <div class="header-row">
            <a href="#/editmember" class="btn btn-primary btn-sm pull-right"><i class="fa fa-user-plus"></i>&nbsp;Add Member</a>
            <i class="fa fa-users"></i>
            Family Summary
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-user">
                <img src="https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png" class="profile-image" />
                <div class="profile-tile-title">Tom Walls</div>
                  <table class="profile-info-table">
                    <tr>
                      <td>Role</td>
                      <td>Admin</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>tom.walls@autoalert.com</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>114 W 11th Street,<br />Kansas City, MO - 64105</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-vehicle">
                <img src="/static/pngs/icon-vehicle-info.png" class="profile-image" />
                <div class="profile-tile-title">Vehicle</div>
                <table class="profile-info-table">
                    <tr>
                      <td>Vehicle</td>
                      <td>2018 Ford F-150</td>
                    </tr>
                    <tr>
                      <td>EMI</td>
                      <td>$813.09/mo</td>
                    </tr>
                    <tr>
                      <td>Remaining Pmts</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-25</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-service">
              <img src="/static/pngs/icon-service-info.png" class="profile-image" />
              <div class="profile-tile-title">Service</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Preferred Dealer</td>
                      <td>Gary Crossley Ford</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Service Manager</td>
                      <td>jim@garycrossley.com</td>
                    </tr>
                    <tr>
                      <td>Next Service Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Next Service</td>
                      <td>Oil Change</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-insurance">
              <img src="/static/pngs/icon-insurance-info.png" class="profile-image" />
              <div class="profile-tile-title">Insurance</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Provider</td>
                      <td>GEICO</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Accidents</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
        </div>
        <br />
        <div align="right">
            <a href="#/vehicledetail" class="btn btn-primary btn-sm">View Detail</a>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-user">
                <img src="https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png" class="profile-image" />
                <div class="profile-tile-title">Tom Walls</div>
                  <table class="profile-info-table">
                    <tr>
                      <td>Role</td>
                      <td>Admin</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td>tom.walls@autoalert.com</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>114 W 11th Street,<br />Kansas City, MO - 64105</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-vehicle">
                <img src="/static/pngs/icon-vehicle-info.png" class="profile-image" />
                <div class="profile-tile-title">Vehicle</div>
                <table class="profile-info-table">
                    <tr>
                      <td>Vehicle</td>
                      <td>2018 Ford F-150</td>
                    </tr>
                    <tr>
                      <td>EMI</td>
                      <td>$813.09/mo</td>
                    </tr>
                    <tr>
                      <td>Remaining Pmts</td>
                      <td>40</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-25</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-service">
              <img src="/static/pngs/icon-service-info.png" class="profile-image" />
              <div class="profile-tile-title">Service</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Preferred Dealer</td>
                      <td>Gary Crossley Ford</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Service Manager</td>
                      <td>jim@garycrossley.com</td>
                    </tr>
                    <tr>
                      <td>Next Service Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Next Service</td>
                      <td>Oil Change</td>
                    </tr>
                  </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 dashboard-profile-tile profile-insurance">
              <img src="/static/pngs/icon-insurance-info.png" class="profile-image" />
              <div class="profile-tile-title">Insurance</div>
              <table class="profile-info-table">
                    <tr>
                      <td>Provider</td>
                      <td>GEICO</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>555-555-5555</td>
                    </tr>
                    <tr>
                      <td>Next Pmt Date</td>
                      <td>2018-07-30</td>
                    </tr>
                    <tr>
                      <td>Accidents</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>Account</td>
                      <td>XXXXXXXX0019</td>
                    </tr>
                  </table>
            </div>
        </div>
        <br />
        <div align="right">
            <a href="#/vehicledetail" class="btn btn-primary btn-sm">View Detail</a>
        </div>
    </div>
</template>

<script>
export default {
  name: "membersList",
  data: function() {
      return {
          showCS: false
      };
  }
};
</script>

<style scoped>

.members-list {
  width: 100%;
}

.header-row {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #555555;
}

.dashboard-profile-tile {
  vertical-align: middle;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.profile-user .profile-image {
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-vehicle {
  color: #1f8bd5;
}

.profile-service {
  color: gold;
}

.profile-insurance {
  color: orangered;
}

.profile-tile-title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  margin-top: 10px;
}

.profile-info-table {
  width: 100%;
  font-size: 13px;
  margin-bottom: 15px;
  color: #d5d5d5;
  text-align: left;
}

.profile-info-table td {
  vertical-align: top;
  padding: 2px 0px;
}

.profile-info-table td:first-child {
  padding-right: 10px;
}

.profile-info-table td:nth-child(2) {
  font-weight: 600;
}

.collapsible-section {
    height: 0px;
    overflow: hidden;
    transition: 0.3s ease all;
}

.collapsible-section.is-visible {
    height: 200px;
}

</style>
