<template>
  <div class="navigation-menu">
    
    <div class="app-logo">
      <a href="#/">
        <img src="/static/pngs/logo.png" />
      </a>
    </div>

    <div class="user-profile">
      <img src="https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png" class="profile-image" />
    </div>

    <div class="menu-wrapper">
      <div class="menu-link" :class="{'active-menu' : isActiveMenu('dashboard')}">
        <a href="#/">
          Dashboard
        </a>
      </div>
      <div class="menu-link" :class="{'active-menu' : isActiveMenu('memberslist')}">
        <a href="#/memberslist">
          Family
        </a>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "navigationMenu",
  data: function() {
    return {
      currentMenu: "dashboard"
    };
  },
  watch: {
    $route: function() {
      this.updateCurrentMenu();
    }
  },
  mounted: function() {
    this.updateCurrentMenu();
  },
  methods: {
    isActiveMenu: function(menuName) {
      return menuName && this.currentMenu == menuName;
    },
    updateCurrentMenu: function() {
      if (
        this.$router &&
        this.$router.currentRoute &&
        this.$router.currentRoute.name
      )
        this.currentMenu = this.$router.currentRoute.name;
      else this.currentMenu = "dashboard";
    }
  }
};
</script>

<style scoped>
.navigation-menu {
  width: 100%;
  text-align: right;
  background-image: url('/static/topheaderbar.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 200px;
}

.app-logo {
  float: left;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  padding: 15px;
  color: #1f8bd5;
  margin: 0px 15px;
}

.app-logo a {
  text-decoration: none;
  color: inherit;
}

.app-logo img {
  height: 100px;
}

.user-profile {
  float: right;
  padding: 10px;
  margin-right: 150px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.menu-wrapper {
  display: inline-block;
  margin-right: 15px;
}

.menu-link {  
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  padding: 15px 10px;
}

.menu-link.active-menu {
  color: #0ec30e;
  font-weight: 600;
}

.menu-link a {
  text-decoration: none;
  color: inherit;
}
</style>
