<template>
    <div class="service-offers">
        <div class="header-row">
            <i class="fa fa-car"></i>&nbsp;2018 Ford F-150
        </div>
        <div class="info-label">
            We found the following service offers for your 2018 Ford F-150 near you.
        </div>
        <div class="here-maps-container" id="here-maps-container"></div>
    </div>
</template>

<script>
// https://developer.here.com/api-explorer/maps-js/v3.0/maps/map-at-specified-location

export default {
  name: "serviceOffers",
  data: function() {
    return {
      mapsPlatform: {}
    };
  },
  mounted: function() {
    this.mapsPlatform = new H.service.Platform({
      app_id: "EC3vY1eUvQJNRGCUf3TV",
      app_code: "va87yRz0Cu-HBFPQEZkykg"
    });

    // Obtain the default map types from the platform object:
    let defaultLayers = this.mapsPlatform.createDefaultLayers();

    // Get maps container
    let mapsContainer = document.getElementById("here-maps-container");

    // Instantiate (and display) a map object:
    let map = new H.Map(mapsContainer, defaultLayers.normal.map, {
      zoom: 10,
      center: {
        lat: 39.09,
        lng: -94.57
      }
    });

    // Make the map interactive
    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    let behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    let ui = H.ui.UI.createDefault(map, defaultLayers);

    let mapMarkerContentTemplate = "<div style='font-size: 12px; padding: 10px; width: 250px;'><b style='font-size: 15px; color: #ffffff;'>{DEALER_NAME}</b><br><br>Distance: {DISTANCE} mi.&nbsp;|&nbsp;Service: {SERVICE_PRICE} avg.{SPECIAL_OFFER}<br><br><a href='javascript:;' style='background: #1e81ca; font-size: 14px; color: #ffffff; padding: 2px 10px; border-radius:  10px;'>Schedule appointment</a></div>";

    let dealers = [
      {
        Coordinates: {
          lat: 39.23,
          lng: -94.46
        },
        Info: mapMarkerContentTemplate.replace("{DEALER_NAME}", 'Gary Crossley Ford').replace("{DISTANCE}", '2').replace("{SERVICE_PRICE}", "$55").replace("{SPECIAL_OFFER}", "<br>Special: 20% off, ends 2018-08-01")
      },
      {
        Coordinates: {
          lat: 39.16,
          lng: -94.49
        },
        Info: mapMarkerContentTemplate.replace("{DEALER_NAME}", 'Midway Ford Truck Center').replace("{DISTANCE}", '5').replace("{SERVICE_PRICE}", "$65").replace("{SPECIAL_OFFER}", "<br>Special: $10 off, ends 2018-07-21")
      },
      {
        Coordinates: {
          lat: 38.87,
          lng: -94.6
        },
        Info: mapMarkerContentTemplate.replace("{DEALER_NAME}", 'Rob Sight Ford').replace("{DISTANCE}", '5').replace("{SERVICE_PRICE}", "$45").replace("{SPECIAL_OFFER}", "")
      },
      {
        Coordinates: {
          lat: 39.24,
          lng: -94.65
        },
        Info: mapMarkerContentTemplate.replace("{DEALER_NAME}", 'Thoroughbred Ford').replace("{DISTANCE}", '8').replace("{SERVICE_PRICE}", "$75").replace("{SPECIAL_OFFER}", "<br>Special: 5% off, ends 2018-09-10")
      }
    ];

    var group = new H.map.Group();
    map.addObject(group);

    group.addEventListener("tap", function(evnt) {
      var infoBubble = new H.ui.InfoBubble(evnt.target.getPosition(), {
        content: evnt.target.getData()
      });
      ui.addBubble(infoBubble);
    });

    // Add dealers' markers on the map
    for (let dealer of dealers) this.addMarkerToGroup(group, dealer.Coordinates, dealer.Info);
  },
  methods: {
    addMarkerToGroup: function(group, dealerCoordinates, contentHtml) {
      var marker = new H.map.Marker(dealerCoordinates);
      marker.setData(contentHtml);
      group.addObject(marker);
    }
  }
};
</script>

<style scoped>
.service-offers {
  width: 100%;
}

.header-row {
  font-size: 30px;
}

.here-maps-container {
  width: 100%;
  height: 500px;
  border: 1px solid gray;
  background: #ffffff;
  margin: 15px 0px;
}

.map-marker-detail-wrapper {
    background: #ffffff;
    color: #404040;
}
</style>
