<template>
    <div class="trade-in-offers">
        <div class="row current-vehicle">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <img src="https://st.motortrend.com/uploads/sites/10/2016/10/2017-ford-f-150-xlt-pick-up-angular-front.png" class="current-vehicle-image" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <span class="bolder-text">2018 Ford F-150</span><br/>
               <span class="bolder-text">VIN: </span>{{vin}} <br/>
               <span class="bolder-text">Color ext: </span>{{extColor}}<span class="bolder-text"> int: </span> {{intColor}}<br/>
               <span class="bolder-text">Engine: </span>{{engine}}<br/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                <span class="bolder-text">Features:</span>
                <div v-for="feature in features" :key="'feature_'+feature" style="text-transform: capitalize;">
                    <i class="fa fa-chevron-right"></i>&nbsp;{{feature}}
                </div>
            </div>
        </div>
        <div class="row vehicle-rating">
            <h5 class="title">Rate your vehicle for trade:</h5>
                <div class="condition-group">
                    <div class="col-3">
                        <input type="radio" id="fair" name="condition" v-model="selectedCondition" />
                        <label for="fair">Fair</label>
                    </div>
                    <div class="col-3">
                        <input type="radio" id="good" name="condition" v-model="selectedCondition" />
                        <label for="good">Good</label>
                    </div>
                    <div class="col-3">
                        <input type="radio" id="veryGood" name="condition" v-model="selectedCondition" />
                        <label for="veryGood">Very Good</label>
                    </div>
                    <div class="col-3">
                        <input type="radio" id="excellent" name="condition" v-model="selectedCondition" />
                        <label for="excellent">Excellent</label> 
                    </div>
                </div>
        </div>
        <hr />
        <div class="row vehicle-compare">
            <h5 class="title">Compare Vehicle Valuation in Your Area:</h5> <br />
            <div class="row">
            <div class="col-md-6 vehicle-compare-container" v-for="offer in offers" :key="offer.id">
                <div class="vehicle-offer">
                    <img class="offer-image" :src="offer.image" /><br />
                    <div class="vehicle-info">
                        <div class="offer-ymm">{{offer.model}}</div>
                        VIN: <b>{{offer.vin}}</b><br/>
                        Mileage: <b>{{offer.mileage}}</b><br/>
                    </div>
                    <div class="offer-footer">
                        <span class="footer-price">{{offer.price | toCurrency}}</span>
                        {{offer.condition}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "tradeInOffers",
  data: function() {
    return {
      vin: "3738490283753",
      extColor: "Red",
      intColor: "Dark Grey",
      engine: "3.0L Power Stroke Diesel",
      features: [
        "delivers Best-in-Class towing, torque, horsepower and fuel economy",
        "trail control",
        "use FordPass to track your vehicle location"
      ],
      selectedCondition: null,
      offers: [
        {
          id: 1,
          image:
            "http://cars.typepad.com/.a/6a00d83451b3c669e201b7c8c517ce970b-pi",
          model: "Ford F-150",
          vin: "75483920394584664",
          mileage: 85885,
          condition: "Good",
          price: 27775
        },
        {
          id: 2,
          image:
            "https://st.motortrend.com/uploads/sites/5/2018/06/2018-Ford-Mustang-GT-front-three-quarter-in-motion-02.jpg?interpolation=lanczos-none&fit=around|660:438",
          model: "Ford Mustang",
          vin: "3745483920394875",
          mileage: 7777,
          condition: "Fair",
          price: 25000
        }
      ]
    };
  }
};

Vue.filter("toCurrency", function(value) {
  if (typeof value !== "number") {
    return value;
  }
  var formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
    minimumFractionDigits: 0
  });
  return formatter.format(value);
});
</script>

<style scoped>
.trade-in-offers {
  color: #ffffff;
  margin-bottom: 30px;
}
.title {
  display: block;
  height: 30px;
  width: 100%;
}

.current-vehicle-image {
    width: 65%;
    height: auto;
}

.bolder-text {
  font-weight: bold;
}
.vehicle-rating {
  padding: 15px;
}

.vehicle-compare {
  padding: 0px;
}

.vehicle-info {
  padding: 15px;
}

.vehicle-compare-container {
  display: inline-block;
}

.offer-ymm {
  color: #1f8bd5;
  font-weight: 600;
  padding-bottom: 15px;
}

.condition-group {
  width: 100%;
  display: flex;
  align-content: space-evenly;
  align-items: center;
}
.vehicle-offer {
  background: white;
  margin: 10px;
  color: black;
}
.offer-image {
  width: 100%;
  height: auto;
}
.offer-footer {
  background: #3faf49;
  color: #ffffff;
  padding: 10px;
}
.footer-price {
  float: right;
  padding-right: 5px;
}
</style>
