<template>
    <div class="vehicle-detail">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 detail-header-tile" align="center">
                <img src="https://www.autoalert.com/wp-content/uploads/2018/06/Tom-Walls.png" class="profile-image" />
                <div class="profile-info">Tom Walls</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 detail-header-tile">
                <b>Primary Driver:</b><br />
                <h4>User Userson</h4>
                Role: Admin<br/>
                Address: 1234 Wherever St. Anywhere, MO<br/>
                Phone: 913.555.5467<br/>
                Email: user.userson@autoalert.com
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 small-stats">
                <div class="detail-header-tile">
                <b>0</b><br />
                    Accidents Reported
                </div>
                <div class="detail-header-tile">
                <b>2</b><br />
                    Traffic Violations
                </div>
                <div class="detail-header-tile">
                <b>1</b><br />
                Ford Recalls
                </div>
            </div>
        </div>
        <br />
        <div class="row small-stats">
            <div class="vl"></div>
            <div class="focus-stat">
                <h3 class="green-title-text">{{vehicleInfo.monthlyPayment | toCurrency}}</h3>
                Payment
            </div>
            <div class="vl"></div>
            <div class="focus-stat">
               <h3 class="green-title-text">{{vehicleInfo.payOffAmount | toCurrency}}</h3> 
               Payoff Amount
            </div>
            <div class="vl"></div>
            <div class="focus-stat">
                <h3 class="orange-title-text">{{vehicleInfo.insurancePayment | toCurrency}}</h3>
                Insurance / mo 
            </div>
            <div class="vl"></div>
            <div class="focus-stat">
                <h3 class="yellow-title-text">{{vehicleInfo.nextServiceDue}}</h3>
                Next Service Due 
            </div>
            <div class="vl"></div>
        </div>
        <br />
        <div class="row">
            <img class="vehicle-image" :src="vehicleImg" />
        </div>
        <hr />
        <!-- <div class="row driver-row">
            <img :src="driverImg" />
            <table>
                <tr v-for="detail in driverDetails" :key="detail.id">
                    <td><span class="title-text">{{detail.title}}: </span> {{detail.detail}}</td>
                </tr>
            </table>
        </div>
        <hr /> -->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title blue-bkg"><span class="vehicle-detail-icon icon"></span>Vehicle Details</h4>
                <div class="text-area">
                    <p><span class="title-text">{{vehicleInfo.year}} {{vehicleInfo.make}} {{vehicleInfo.model}}</span></p>
                    <p>{{vehicleInfo.style}}</p>
                    <p>
                        <a href="#/editvehicle">Edit Vehicle</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title yellow-bkg"><span class="service-icon icon"></span>Service Department</h4>
                 <div class="text-area">
                    <p>Next Due: <span class="title-text">{{vehicleInfo.nextServiceDue}}</span></p>
                    <p>Last Service Date: <span class="title-text">{{vehicleInfo.lastServiceDate}}</span></p>
                    <p>YTD Service Payments: <span class="title-text">{{vehicleInfo.yearToDateServicePaid | toCurrency}}</span></p>
                                        <p>
                        <a href="#/serviceoffers">View Service Offers</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title orange-bkg"><span class="insurance-icon icon"></span>Vehicle Insurance</h4>
                <div class="text-area">
                    <p>Insurance Company: <span class="title-text">{{vehicleInfo.insuranceCompany}}</span></p>
                    <b-btn class="insurance-btn" v-b-modal.modal1>
                        <img class="insurance-card-preview" :src="vehicleInfo.insuranceCardUrl" />
                    </b-btn>
                    <!-- <div @click="showInsuranceCard = true" ><img class="insurance-card-preview" :src="vehicleInfo.insuranceCardUrl" /></div> -->
                </div>
                    <b-modal ok-variant size="lg" id="modal1" title="Insurance Card" align="center">
                        <img :src="vehicleInfo.insuranceCardUrl" />
                    </b-modal>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title purple-bkg"><span class="status-icon icon"></span>Vehicle Status</h4>
                  <div class="text-area">
                    <p>Mileage: <span class="title-text">{{vehicleInfo.mileage}}</span></p>
                    <p>Current MPG: <span class="title-text">{{vehicleInfo.currentMPG}}</span></p>
                    <p>Original MPG: <span class="title-text">{{vehicleInfo.originalMPG}}</span></p>
                  </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title grey-bkg"><span class="trade-icon icon"></span>Trade-In Details</h4>
                <table class="info-table" v-for="offer in vehicleInfo.offers" :key="offer.offerModel">
                    <tr>
                        <td><img :src="offer.offerImage" /></td>
                        <td>{{offer.offerModel}} <br> {{offer.offerPayment | toCurrency}}</td>
                    </tr>
                </table>
                <br />
                <p align="center">
                    <a href="#/tradeinoffers">View Offers</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 vehicle-info">
                <h4 class="table-title green-bkg"><span class="payment-icon icon"></span>Payment Information</h4>
                  <div class="text-area">
                    <p><span class="title-text">{{vehicleInfo.monthlyPayment | toCurrency}} / mo</span></p>
                    <p>Remaining Payments: <span class="title-text">{{vehicleInfo.remainingPayments}}</span></p>
                    <p>Pay-off Amount: <span class="title-text">{{vehicleInfo.payOffAmount | toCurrency}}</span></p>
                    <p>Last Payment Date: <span class="title-text">{{vehicleInfo.lastPaymentDate}}</span></p>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import bModal from "bootstrap-vue/es/components/modal/modal";
import bModalDirective from "bootstrap-vue/es/directives/modal/modal";

export default {
  name: "vehicleDetail",
  data: function() {
    return {
      vehicleImg: "https://www.torquenews.com/sites/default/files/images/2018_chevy_volt.jpg",
      driverImg: "http://placekitten.com/100/100",
      driverDetails: [],
      vehicleInfo: [],
      showInsuranceCard: false
    };
  },
  mounted: function() {
    this.getVehicleInfo();
    this.getDriverDetails();
  },
  methods: {
    getVehicleInfo: function() {
      this.vehicleInfo = {
        year: 2018,
        make: "Chevy",
        model: "Volt",
        style: "Electric",
        monthlyPayment: 345,
        remainingPayments: 500,
        payOffAmount: 99000,
        lastPaymentDate: " 7/15/2018",
        insuranceCompany: "State Farm",
        insurancePayment: 132,
        insuranceCardUrl: "http://cre8tiveclass.com/wp-content/uploads/2018/05/fake-auto-insurance-card-template-download-template-design-in-fake-with-auto-insurance-id-card-template.png",
        nextServiceDue: "8/1/2018",
        lastServiceDate: "5/1/2018",
        yearToDateServicePaid: 110000,
        mileage: 254384,
        currentMPG: 33,
        originalMPG: 40,
        offers: [
          {
            offerImage: "https://static.getjar.com/icon-50x50/c2/326928_thm.gif",
            offerModel: "2018 Ford F-150",
            offerPayment: "$350 / mo"
          },
          {
            offerImage: "https://static.getjar.com/icon-50x50/c2/326928_thm.gif",
            offerModel: "2018 Ford Mustang",
            offerPayment: "$400 / mo"
          }
        ]
      };
    },
    getDriverDetails: function() {
      this.driverDetails = [
        { id: 1, title: "Name", detail: "Crash Test Dummy" },
        { id: 2, title: "Age", detail: "5" }
      ];
    },
    toggleInsuranceCard: function() {
      this.showInsuranceCard = !this.showInsuranceCard;
    }
  }
};

Vue.filter("toCurrency", function(value) {
  if (typeof value !== "number") {
    return value;
  }
  var formatter = new Intl.NumberFormat("en-US", {
    style: "currency",
    currency: "USD",
    minimumFractionDigits: 0
  });
  return formatter.format(value);
});
Vue.component("my-component", {
  components: {
    "b-modal": bModal
  },
  directives: {
    "b-modal": bModalDirective
  }
});
</script>

<style scoped>
.detail-header-tile {
  vertical-align: center;
}
.profile-image {
  width: 90%;
  max-width: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0px 5%;
}
.small-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.vl {
  border-left: 2px solid #bdc0c2;
  height: 50px;
}
.vehicle-image {
  margin-left: auto;
  margin-right: auto;
}
.yellow-title-text {
  font-weight: bold;
  color: #ffc702;
}
.orange-title-text {
  font-weight: bold;
  color: #ff6100;
}
.green-title-text {
  font-weight: bold;
  color: #3faf49;
}
.header-image {
  margin: 5px;
}
.driver-row {
  display: flex;
  justify-content: center;
}
.vehicle-info {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  background-clip: content-box;
}
.icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 5px;
}
.vehicle-detail-icon {
  background: url("../assets/icons/icon-vehicle-details-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.service-icon {
  background: url("../assets/icons/icon-service-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.insurance-icon {
  background: url("../assets/icons/icon-insurance-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.status-icon {
  background: url("../assets/icons/icon-vehicle-status-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.trade-icon {
  background: url("../assets/icons/icon-trade-info-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.payment-icon {
  background: url("../assets/icons/icon-payment-info-sm-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 30px;
  vertical-align: text-bottom;
}
.blue-bkg {
  background: #1f8bd5;
}
.yellow-bkg {
  background: #ffc702;
}
.orange-bkg {
  background: #ff6100;
}
.purple-bkg {
  background: #7b5acb;
}
.grey-bkg {
  background: #7a8084;
}
.green-bkg {
  background: #3faf49;
}
.vehicle-info {
  padding-bottom: 20px;
  color: #404040;
}
.table-title {
  text-align: center;
  color: #ffffff;
  padding: 3px;
  line-height: 30px;
  font-size: 20px;
}
.text-area {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.title-text {
  font-weight: bold;
  color: #172751;
}
.info-table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: #404040;
}

.info-table td {
  padding: 5px 2px;
}

.title-col {
  text-align: left;
  padding: 2px;
  padding-right: 5px;
}
.detail-col {
  text-align: right;
  padding: 2px;
}

.insurance-btn {
    width: 100%;
    padding: 0px;
    border: 3px solid #ffffff;
    margin-bottom: 15px;
}

.insurance-card-preview {
  width: 100%;
  height: auto;
}
p {
  color: #404040;
}
</style>
